@page "/BucketConnect/PrivacyPolicy"
@rendermode InteractiveServer

<div class="full-width-image-with-text-container">
    <img class="full-width-image-with-text" src="../Images/BucketConnect/Privacy Policy.png" alt="Descriptive Alt Text">
</div>

<div class="text-image-section">
    <h1>Privacy Policy</h1>
    <div class="content-wrapper">
        <div class="text-content">
            <h2>
                Effective Date: September 1, 2024
            </h2>
            <p>
                At Bucket Connect, your privacy is a top priority. This Privacy Policy outlines the types of data we collect and record, as well as how we use and protect this information.
            </p>
            <h3>Consent</h3>
            <p>
                By using Bucket Connect, you consent to the terms outlined in this Privacy Policy.
            </p>
            <h3>Image Sharing</h3>
            <p>
                Users can upload images from their camera roll to use as profile pictures. Profile pictures are public and visible to all users. Images can also be used as covers for lists and events. When used for personal lists and events, these images are private and accessible only to friends specifically chosen by the user, ensuring confidentiality. However, if images are used for covers in the ideas function, they will be visible to all users and cannot be removed once posted.
            </p>
            <p>
                Please make sure these images are suitable for public viewing before uploading. If images used for profile pictures, lists, events, or ideas are deemed inappropriate, they will be removed. Inappropriate content includes, but is not limited to, images that are offensive, sexually explicit, violent, defamatory, or violate the rights of others. We reserve the right to determine what constitutes inappropriate content.
            </p>
            <h3>Advertisements</h3>
            <p>
                When you use Bucket Connect, we may collect information through Google AdMob, including:
            </p>
            <ul>
                <li><strong>Personal Information:</strong> This includes details that can identify you as an individual, such as your device ID, IP address, and other device-specific information.</li>
                <li><strong>Non-Personal Information:</strong> This includes aggregated user data, device type, operating system, and user behavior data that cannot be used to identify you personally.</li>
            </ul>
            <h3>How We Use Collected Information</h3>
            <p>
                The information collected through Google AdMob is utilized for the following purposes:
            </p>
            <ul>
                <li>Serving Ads: Display personalized ads that are relevant to you.</li>
                <li>Improving Ad Quality and Relevance: Analyze and understand how ads perform to enhance their quality and relevance.</li>
                <li>Analytics and Reporting: Provide aggregated reporting to understand ad performance and user engagement.</li>
            </ul>
            <h3>Data Security</h3>
            <p>
                We employ reasonable measures to protect your information from unauthorised access, use, or disclosure. However, it is important to note that no internet or mobile application can be entirely secure, and we cannot guarantee the absolute security of your information.
            </p>
            <h3>Account Deletion</h3>
            <p>
                If you would like to delete your account and all the data linked to it, find the “delete account” button found in the account menu.
            </p>
            <h3>Updates to This Policy</h3>
            <p>
                We may update this Privacy Policy from time to time. Any changes will be reflected with a new effective date at the top of this document.
            </p>
            <p>
                If you have any questions or concerns about our Privacy Policy, please contact us at bucketconnectapp@gmail.com.
            </p>
            <p>
                By using Bucket Connect, you acknowledge that you have read and understood this Privacy Policy and agree to its terms.
            </p>
        </div>
    </div>
</div>
