@page "/CastleClimbers"
@rendermode InteractiveServer

<div class="full-width-image-with-text-container">
    <!-- Navigation Bar -->
    <nav class="navbar">
        <!-- Image on the left -->
        <img src="../Images/CC Icon.png" alt="Navbar Icon">

        <ul class="nav-list">
            <li><a href="/CastleClimbers">About</a></li>
            <li><a href="/About">Levels</a></li>
            <li><a href="/Features">Characters</a></li>
            <li><a href="/Contact">Achievements</a></li>
            <li><a href="/Contact">Music</a></li>
            <li><a href="/Contact">Updates</a></li>
        </ul>
    </nav>

    <img class="full-width-image-with-text" src="../Images/Castle Climbers Background.png" alt="Descriptive Alt Text">
</div>

<div id="levels"class="header-text-content">
    <h2>Levels</h2>
    <p>
        Do you have what it takes to conquer them all?
    </p>
</div>

<section class="image-grid">
    <div class="image-item">
        <img src="../Images/Castle Climbers/Levels/Dungeon CC.png" alt="Image 1">
        <h3>Dungeon</h3>
        <p>0m - 200m</p>
        <p>Begin your journey with an introductory climb designed to test your skills and prepare you for greater challenges.</p>
    </div>
    <div class="image-item">
        <img src="../Images/Castle Climbers/Levels/Castle CC.png" alt="Image 2">
        <h3>Castle</h3>
        <p>200m - 500m</p>
        <p>Progress through new obstacles and reach even higher altitudes in your climb.</p>
    </div>
    <div class="image-item">
        <img src="../Images/Castle Climbers/Levels/Sky CC.png" alt="Image 3">
        <h3>Sky</h3>
        <p>500m - 1,000m</p>
        <p>Take on steep cliffs and sharp turns as you edge closer to mastery.</p>
    </div>
    <div class="image-item">
        <img src="../Images/Castle Climbers/Levels/Sky Top CC.png" alt="Image 4">
        <h3>Sky Ruins</h3>
        <p>1,000m - 2,000m</p>
        <p>Test your endurance with relentless obstacles and tougher climbs toward the peak.</p>
    </div>
    <div class="image-item">
        <img src="../Images/Castle Climbers/Levels/Space CC.png" alt="Image 4">
        <h3>Space</h3>
        <p>2,000m +</p>
        <p>Reach the ultimate summit and complete your journey in Castle Climbers with this final challenge.</p>
    </div>
</section>



<div class="header-text-content">
    <h2>Characters</h2>
    <p>
        Meet the unique characters that will accompany you on your journey to the top. 
        Choose from a lineup of characters, including <span class="highlight">playful cats</span>, <span class="highlight">mysterious planets</span>,
        and <span class="highlight">vibrant, colourful heroes</span>. Each brings a distinct charm to the game, making every
        climb as fun as it is challenging.

        Who will you pick to conquer the climb?
    </p>
</div>

<div class="character-item">
    <div class="character-text">
        <h2>Colours</h2>
    </div>
    <img src="Images/Castle Climbers/Slimes/Slime 1.png" alt="Character Image 1" class="character-image">
    <img src="Images/Castle Climbers/Slimes/Blanc Sprite Sheet.png" alt="Character Image 1" class="character-image">
    <img src="Images/Castle Climbers/Slimes/Noir.png" alt="Character Image 1" class="character-image">
    <img src="Images/Castle Climbers/Slimes/Brown Sprite Sheet.png" alt="Character Image 1" class="character-image">
    <img src="Images/Castle Climbers/Slimes/Orange slime Sprite Sheet.png" alt="Character Image 1" class="character-image">
    <img src="Images/Castle Climbers/Slimes/Pink slime sprite sheet.png" alt="Character Image 1" class="character-image">
    <img src="Images/Castle Climbers/Slimes/Red slime sprite sheet.png" alt="Character Image 1" class="character-image">
    <img src="Images/Castle Climbers/Slimes/Yellow slime sprite sheet.png" alt="Character Image 1" class="character-image">
    <img src="Images/Castle Climbers/Slimes/Cyan slime sprite sheet.png" alt="Character Image 1" class="character-image">
    <img src="Images/Castle Climbers/Slimes/Lime Green Sprite Sheet.png" alt="Character Image 1" class="character-image">
    <img src="Images/Castle Climbers/Slimes/Purple slime Sprite Sheet.png" alt="Character Image 1" class="character-image">
    <img src="Images/Castle Climbers/Slimes/Blue slime Sprite Sheet.png" alt="Character Image 1" class="character-image">
    <button @onclick="() => ToggleCharacterDetails(0)" class="dropdown-arrow">
        @if (isOpenCharacter[0])
        {
            @:&#9650; <!-- Up Arrow -->
        }
        else
        {
            @:&#9662; <!-- Down Arrow -->
        }
    </button>
</div>

<section class="character-image-grid">
    @if (isOpenCharacter[0])
    {
        <div class="character-image-item">
            <img src="Images/Castle Climbers/Slimes/Slime 1.png" alt="Character 1" width="150">
            <h3 style="color: #119D18;">Leeko</h3>
            <p>Free</p>
        </div>
        <div class="character-image-item">
            <img src="Images/Castle Climbers/Slimes/Blanc Sprite Sheet.png" alt="Character 2" width="150">
            <h3 style="color: #ffffff;">Blanc</h3>
            <p class="text-with-icon">
                <img src="Images/Castle Climbers/Coin1.png" alt="Level Icon" class="coin-icon">
                50
            </p>
        </div>
        <div class="character-image-item">
            <img src="Images/Castle Climbers/Slimes/Noir.png" alt="Character 3" width="160" style="margin-top: -2px;">
            <h3 style="color: #262626;">Noir</h3>
            <p>1,000</p>

        </div>
        <div class="character-image-item">
            <img src="Images/Castle Climbers/Slimes/Brown Sprite Sheet.png" alt="Character 4" width="155" style="margin-top: 0px;">
            <h3 style="color: #893B00;">Cinnamon</h3>
            <p class="text-with-icon">
                <img src="Images/Castle Climbers/Coin1.png" alt="Level Icon" class="coin-icon">
                100
            </p>
        </div>
        <div class="character-image-item">
            <img src="Images/Castle Climbers/Slimes/Orange slime Sprite Sheet.png" alt="Character 5" width="155" style="margin-top: -2px;">
            <h3 style="color: #DE7300;">Ginger</h3>
            <p>2,000</p>
        </div>
        <div class="character-image-item">
            <img src="Images/Castle Climbers/Slimes/Pink slime sprite sheet.png" alt="Character 5" width="155" style="margin-top: -5px;">
            <h3 style="color: #DE00F2;">Coral</h3>
            <p class="text-with-icon">
                <img src="Images/Castle Climbers/Coin1.png" alt="Level Icon" class="coin-icon">
                150
            </p>
        </div>
        <div class="character-image-item">
            <img src="Images/Castle Climbers/Slimes/Red slime sprite sheet.png" alt="Character 1" width="155" style="margin-top: 0px;">
            <h3 style="color: #F20000;">Ruby</h3>
            <p>3,000</p>
        </div>
        <div class="character-image-item">
            <img src="Images/Castle Climbers/Slimes/Yellow slime sprite sheet.png" alt="Character 2" width="160" style="margin-top: 0px;">
            <h3 style="color: #DDD500;">Saffron</h3>
            <p class="text-with-icon">
                <img src="Images/Castle Climbers/Coin1.png" alt="Level Icon" class="coin-icon">
                200
            </p>
        </div>
        <div class="character-image-item">
            <img src="Images/Castle Climbers/Slimes/Cyan slime sprite sheet.png" alt="Character 3" width="155" style="margin-top: 0px;">
            <h3 style="color: #00EFDF;">Azure</h3>
            <p>4,000</p>
        </div>
        <div class="character-image-item">
            <img src="Images/Castle Climbers/Slimes/Lime Green Sprite Sheet.png" alt="Character 4" width="155" style="margin-top: 0px;">
            <h3 style="color: #1EFE00;">Lime</h3>
            <p class="text-with-icon">
                <img src="Images/Castle Climbers/Coin1.png" alt="Level Icon" class="coin-icon">
                250
            </p>
        </div>
        <div class="character-image-item">
            <img src="Images/Castle Climbers/Slimes/Purple slime Sprite Sheet.png" alt="Character 5" width="155" style="margin-top: 0px;">
            <h3 style="color: #5900FF;">Amethyst</h3>
            <p>5,000</p>
        </div>
        <div class="character-image-item">
            <img src="Images/Castle Climbers/Slimes/Blue slime Sprite Sheet.png" alt="Character 5" width="155" style="margin-top: 0px;">
            <h3 style="color: #0037FF;">Cobalt</h3>
            <p class="text-with-icon">
                <img src="Images/Castle Climbers/Coin1.png" alt="Level Icon" class="coin-icon">
                300
            </p>
        </div>
    }
    
</section>


<div class="character-item">
    <div class="character-text">
        <h2>Gradient</h2>
    </div>
    <img src="Images/Castle Climbers/Slimes/Lime Green Yellow.png" alt="Character Image 2" class="character-image">
    <img src="Images/Castle Climbers/Slimes/Gradient Sprite Sheet 4.png" alt="Character Image 2" class="character-image">
    <img src="Images/Castle Climbers/Slimes/Gradient Sprite Sheet.png" alt="Character Image 2" class="character-image">
    <img src="Images/Castle Climbers/Slimes/Gradient Sprite Sheet 3.png" alt="Character Image 2" class="character-image">
    <img src="Images/Castle Climbers/Slimes/Gradient Sprite Sheet 2.png" alt="Character Image 2" class="character-image">
    <img src="Images/Castle Climbers/Slimes/Gradient Sprite Sheet 5.png" alt="Character Image 2" class="character-image">
    <img src="Images/Castle Climbers/Slimes/Gradient Sprite Sheet 6.png" alt="Character Image 2" class="character-image">
    <img src="Images/Castle Climbers/Slimes/Blue Purple Slime.png" alt="Character Image 2" class="character-image">
    <button @onclick="() => ToggleCharacterDetails(1)" class="dropdown-arrow">
        @if (isOpenCharacter[1])
        {
            @:&#9650; <!-- Up Arrow -->
        }
        else
        {
            @:&#9662; <!-- Down Arrow -->
        }
    </button>
</div>

<section class="character-image-grid">
    @if (isOpenCharacter[1])
    {
        <div class="character-image-item">
            <img src="Images/Castle Climbers/Slimes/Lime Green Yellow.png" alt="Character 1" width="155" style="margin-top: 0px;">
            <h3 style="color: #ffffff;">Olive</h3>
            <p>10,000</p>
        </div>
        <div class="character-image-item">
            <img src="Images/Castle Climbers/Slimes/Gradient Sprite Sheet 4.png" alt="Character 2" width="155" style="margin-top: 0px;">
            <h3 style="color: #ffffff;">Obsidian</h3>
            <p class="text-with-icon">
                <img src="Images/Castle Climbers/Coin1.png" alt="Level Icon" class="coin-icon">
                500
            </p>
        </div>
        <div class="character-image-item">
            <img src="Images/Castle Climbers/Slimes/Gradient Sprite Sheet.png" alt="Character 3" width="155" style="margin-top: 0px;">
            <h3 style="color: #ffffff;">Cerulean</h3>
            <p>15,000</p>
        </div>
        <div class="character-image-item">
            <img src="Images/Castle Climbers/Slimes/Gradient Sprite Sheet 3.png" alt="Character 4" width="155" style="margin-top: 0px;">
            <h3 style="color: #ffffff;">Violet</h3>
            <p class="text-with-icon">
                <img src="Images/Castle Climbers/Coin1.png" alt="Level Icon" class="coin-icon">
                750
            </p>
        </div>
        <div class="character-image-item">
            <img src="Images/Castle Climbers/Slimes/Gradient Sprite Sheet 2.png" alt="Character 5" width="155" style="margin-top: 0px;">
            <h3 style="color: #ffffff;">Topaz</h3>
            <p>20,000</p>
        </div>
        <div class="character-image-item">
            <img src="Images/Castle Climbers/Slimes/Gradient Sprite Sheet 5.png" alt="Character 5" width="155" style="margin-top: 0px;">
            <h3 style="color: #ffffff;">Pearl</h3>
            <p class="text-with-icon">
                <img src="Images/Castle Climbers/Coin1.png" alt="Level Icon" class="coin-icon">
                1,000
            </p>
        </div>
        <div class="character-image-item">
            <img src="Images/Castle Climbers/Slimes/Gradient Sprite Sheet 6.png" alt="Character 5" width="155" style="margin-top: 0px;">
            <h3 style="color: #ffffff;">Emerald</h3>
            <p>25,000</p>
        </div>
        <div class="character-image-item">
            <img src="Images/Castle Climbers/Slimes/Blue Purple Slime.png" alt="Character 5" width="155" style="margin-top: 0px;">
            <h3 style="color: #ffffff;">Obsidian</h3>
            <p class="text-with-icon">
                <img src="Images/Castle Climbers/Coin1.png" alt="Level Icon" class="coin-icon">
                1,500
            </p>
        </div>
    }
</section>

<div class="character-item">
    
    <div class="character-text">
        <h2>Space</h2>
    </div>
    <img src="Images/Castle Climbers/Slimes/Moon Sprite Sheet.png" alt="Character Image 3" class="character-image">
    <img src="Images/Castle Climbers/Slimes/Saturn Sprite Sheet.png" alt="Character Image 3" class="character-image">
    <img src="Images/Castle Climbers/Slimes/Mars.png" alt="Character Image 3" class="character-image">
    <img src="Images/Castle Climbers/Slimes/World Slime sprite sheet.png" alt="Character Image 3" class="character-image">
    <button @onclick="() => ToggleCharacterDetails(2)" class="dropdown-arrow">
        @if (isOpenCharacter[2])
        {
            @:&#9650; <!-- Up Arrow -->
        }
        else
        {
            @:&#9662; <!-- Down Arrow -->
        }
    </button>
</div>

<section class="character-image-grid">
    @if (isOpenCharacter[2])
    {
        <div class="character-image-item">
            <img src="Images/Castle Climbers/Slimes/Moon Sprite Sheet.png" alt="Character 5" width="155" style="margin-top: 0px;">
            <h3 style="color: #EDCC67;">Moon</h3>
            <p>30,000</p>
        </div>
        <div class="character-image-item">
            <img src="Images/Castle Climbers/Slimes/Saturn Sprite Sheet.png" alt="Character 5" width="185" style="margin-top: -2px;">
            <h3 style="color: #AE8733;">Saturn</h3>
            <p class="text-with-icon">
                <img src="Images/Castle Climbers/Coin1.png" alt="Level Icon" class="coin-icon">
                1,250
            </p>
        </div>
        <div class="character-image-item">
            <img src="Images/Castle Climbers/Slimes/Mars.png" alt="Character 5" width="155" style="margin-top: 0px;">
            <h3 style="color: #FF4000;">Mars</h3>
            <p>35,000</p>
        </div>
        <div class="character-image-item">
            <img src="Images/Castle Climbers/Slimes/World Slime sprite sheet.png" alt="Character 5" width="155" style="margin-top: 0px;">
            <h3 style="color: #00B7E5;">Earth</h3>
            <p class="text-with-icon">
                <img src="Images/Castle Climbers/Coin1.png" alt="Level Icon" class="coin-icon">
                1,500
            </p>
        </div>
    }
</section>

<div class="character-item">

    <div class="character-text">
        <h2>Halloween</h2>
    </div>
    <img src="Images/Castle Climbers/Slimes/Webs.png" alt="Character Image 3" class="character-image">
    <img src="Images/Castle Climbers/Slimes/Mummy.png" alt="Character Image 3" class="character-image">
    <img src="Images/Castle Climbers/Slimes/Sprite Sheet Devil.png" alt="Character Image 3" class="character-image">
    <img src="Images/Castle Climbers/Slimes/Sprite Sheet Ghost copy.png" alt="Character Image 3" class="character-image">
    <img src="Images/Castle Climbers/Slimes/Pumpkin.png" alt="Character Image 3" class="character-image">
    <button @onclick="() => ToggleCharacterDetails(3)" class="dropdown-arrow">
        @if (isOpenCharacter[3])
        {
            @:&#9650; <!-- Up Arrow -->
        }
        else
        {
            @:&#9662; <!-- Down Arrow -->
        }
    </button>
</div>

<section class="character-image-grid">
    @if (isOpenCharacter[3])
    {
        <div class="character-image-item">
            <img src="Images/Castle Climbers/Slimes/Webs.png" alt="Character 5" width="155" style="margin-top: 10px;">
            <h3 style="color: #FFFFFF;">Webs</h3>
            <p>10,000</p>
        </div>
        <div class="character-image-item">
            <img src="Images/Castle Climbers/Slimes/Mummy.png" alt="Character 5" width="155" style="margin-top: 10px;">
            <h3 style="color: #B1A459;">Mummy</h3>
            <p class="text-with-icon">
                <img src="Images/Castle Climbers/Coin1.png" alt="Level Icon" class="coin-icon">
                750
            </p>
        </div>
        <div class="character-image-item">
            <img src="Images/Castle Climbers/Slimes/Sprite Sheet Devil.png" alt="Character 5" width="155" style="margin-top: 0px;">
            <h3 style="color: #7C0202;">Devil</h3>
            <p>15,000</p>
        </div>
        <div class="character-image-item">
            <img src="Images/Castle Climbers/Slimes/Sprite Sheet Ghost copy.png" alt="Character 5" width="190" style="margin-top: 15px;">
            <h3 style="color: #9251C0;">Vampire</h3>
            <p class="text-with-icon">
                <img src="Images/Castle Climbers/Coin1.png" alt="Level Icon" class="coin-icon">
                1,000
            </p>
        </div>
        <div class="character-image-item">
            <img src="Images/Castle Climbers/Slimes/Pumpkin.png" alt="Character 5" width="155" style="margin-top: -15px;">
            <h3 style="color: #E09112;">Pumpkin</h3>
            <p>20,000</p>
        </div>
    }
</section>

<div class="character-item">

    <div class="character-text">
        <h2>Special</h2>
    </div>
    <img src="Images/Castle Climbers/Slimes/Future Slime.png" alt="Character Image 3" class="character-image">
    <img src="Images/Castle Climbers/Slimes/Distinguished Slimes.png" alt="Character Image 3" class="character-image">
    <img src="Images/Castle Climbers/Slimes/Heart Sprites.png" alt="Character Image 3" class="character-image">
    <button @onclick="() => ToggleCharacterDetails(4)" class="dropdown-arrow">
        @if (isOpenCharacter[4])
        {
            @:&#9650; <!-- Up Arrow -->
        }
        else
        {
            @:&#9662; <!-- Down Arrow -->
        }
    </button>
</div>

<section class="character-image-grid">
    @if (isOpenCharacter[4])
    {
        <div class="character-image-item">
            <img src="Images/Castle Climbers/Slimes/Future Slime.png" alt="Character 5" width="155" style="margin-top:5px;">
            <h3 style="color: #FA0000;">Bionic</h3>
            <p class="text-with-icon">
                <img src="Images/Castle Climbers/Coin1.png" alt="Level Icon" class="coin-icon">
                1,500
            </p>
        </div>
        <div class="character-image-item">
            <img src="Images/Castle Climbers/Slimes/Distinguished Slimes.png" alt="Character 5" width="155" style="margin-top: 0px;">
            <h3 style="color: #7700FF;">Taylor</h3>
            <p>50,000</p>
        </div>
        <div class="character-image-item">
            <img src="Images/Castle Climbers/Slimes/Heart Sprites.png" alt="Character 5" width="155" style="margin-top: 35px;">
            <h3 style="color: #DA9100;">Hearty</h3>
            <p class="text-with-icon">
                <img src="Images/Castle Climbers/Coin1.png" alt="Level Icon" class="coin-icon">
                2,000
            </p>
        </div>
    }
</section>

<div class="header-text-content">
    <h2>Achievements</h2>
    <p>
        Unlock <span class="highlight">rewarding achievements</span> as you scale each level and push your limits.
        Complete challenges, reach new heights, and showcase your climbing prowess with 
        achievements that celebrate your progress. Each milestone brings a sense of accomplishment, 
        encouraging you to climb higher and strive for greatness.

        <br /><br />

        Are you ready to earn your place among the legends?
    </p>
</div>

<div class="container">
    <div class="card">
        <h2>Legendary Journey</h2>
        <p>Play Games</p>
        <div class="card-content">
            <img src="Images/Castle Climbers/Medal 1.png" alt="Example Image">
            <div class="text-section">
                <div class="text-line">
                    <img src="Images/Castle Climbers/Gold.png" alt="Small Icon">
                    <span>10,000</span>
                </div>
                <div class="text-line">
                    <img src="Images/Castle Climbers/Silver.png" alt="Small Icon">
                    <span>100</span>
                </div>
                <div class="text-line">
                    <img src="Images/Castle Climbers/Bronze.png" alt="Small Icon">
                    <span>1</span>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <h2>Epic Explorer</h2>
        <p>Travel</p>
        <div class="card-content">
            <img src="Images/Castle Climbers/Medal 2.png" alt="Example Image">
            <div class="text-section">
                <div class="text-line">
                    <img src="Images/Castle Climbers/Gold.png" alt="Small Icon">
                    <span>1,000,000</span>
                </div>
                <div class="text-line">
                    <img src="Images/Castle Climbers/Silver.png" alt="Small Icon">
                    <span>250,000</span>
                </div>
                <div class="text-line">
                    <img src="Images/Castle Climbers/Bronze.png" alt="Small Icon">
                    <span>10,000</span>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <h2>Fortune Hunter</h2>
        <p>Collect Coins</p>
        <div class="card-content">
            <img src="Images/Castle Climbers/Medal 3.png" alt="Example Image">
            <div class="text-section">
                <div class="text-line">
                    <img src="Images/Castle Climbers/Gold.png" alt="Small Icon">
                    <span>100,000</span>
                </div>
                <div class="text-line">
                    <img src="Images/Castle Climbers/Silver.png" alt="Small Icon">
                    <span>50,000</span>
                </div>
                <div class="text-line">
                    <img src="Images/Castle Climbers/Bronze.png" alt="Small Icon">
                    <span>10,000</span>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <h2>Jackrabbit</h2>
        <p>Jump</p>
        <div class="card-content">
            <img src="Images/Castle Climbers/Medal 4.png" alt="Example Image">
            <div class="text-section">
                <div class="text-line">
                    <img src="Images/Castle Climbers/Gold.png" alt="Small Icon">
                    <span>100,000</span>
                </div>
                <div class="text-line">
                    <img src="Images/Castle Climbers/Silver.png" alt="Small Icon">
                    <span>10,000</span>
                </div>
                <div class="text-line">
                    <img src="Images/Castle Climbers/Bronze.png" alt="Small Icon">
                    <span>1,000</span>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <h2>Master of Descent</h2>
        <p>Fall</p>
        <div class="card-content">
            <img src="Images/Castle Climbers/Medal 5.png" alt="Example Image">
            <div class="text-section">
                <div class="text-line">
                    <img src="Images/Castle Climbers/Gold.png" alt="Small Icon">
                    <span>100,000</span>
                </div>
                <div class="text-line">
                    <img src="Images/Castle Climbers/Silver.png" alt="Small Icon">
                    <span>50,000</span>
                </div>
                <div class="text-line">
                    <img src="Images/Castle Climbers/Bronze.png" alt="Small Icon">
                    <span>10,000</span>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <h2>Champion Recruiter</h2>
        <p>Unlock Characters</p>
        <div class="card-content">
            <img src="Images/Castle Climbers/Medal 6.png" alt="Example Image">
            <div class="text-section">
                <div class="text-line">
                    <img src="Images/Castle Climbers/Emerald.png" alt="Small Icon">
                    <span>31</span>
                </div>
                <div class="text-line">
                    <img src="Images/Castle Climbers/Gold.png" alt="Small Icon">
                    <span>20</span>
                </div>
                <div class="text-line">
                    <img src="Images/Castle Climbers/Silver.png" alt="Small Icon">
                    <span>10</span>
                </div>
                <div class="text-line">
                    <img src="Images/Castle Climbers/Bronze.png" alt="Small Icon">
                    <span>1</span>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <h2>Eternal Adventurer</h2>
        <p>Play Time</p>
        <div class="card-content">
            <img src="Images/Castle Climbers/Medal 7.png" alt="Example Image">
            <div class="text-section">
                <div class="text-line">
                    <img src="Images/Castle Climbers/Gold.png" alt="Small Icon">
                    <span>10 hours</span>
                </div>
                <div class="text-line">
                    <img src="Images/Castle Climbers/Silver.png" alt="Small Icon">
                    <span>1 hour</span>
                </div>
                <div class="text-line">
                    <img src="Images/Castle Climbers/Bronze.png" alt="Small Icon">
                    <span>30 minutes</span>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <h2>Castle Climber</h2>
        <p>High Score</p>
        <div class="card-content">
            <img src="Images/Castle Climbers/Medal 8.png" alt="Example Image">
            <div class="text-section">
                <div class="text-line">
                    <img src="Images/Castle Climbers/Emerald.png" alt="Small Icon">
                    <span>2,000</span>
                </div>
                <div class="text-line">
                    <img src="Images/Castle Climbers/Gold.png" alt="Small Icon">
                    <span>1,000</span>
                </div>
                <div class="text-line">
                    <img src="Images/Castle Climbers/Silver.png" alt="Small Icon">
                    <span>500</span>
                </div>
                <div class="text-line">
                    <img src="Images/Castle Climbers/Bronze.png" alt="Small Icon">
                    <span>200</span>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="header-text-content">
    <h2>Leaderboard</h2>
</div>

<div class="text-image-section">
    <div class="content-wrapper">
        <div class="image-content">
            <img src="./Images/Castle Climbers/Leaderboard_Graphic.png" alt="Placeholder Image">
        </div>
        <div class="text-content">
            <p>
                Unlock rewarding achievements as you scale each level and push your limits. Complete challenges, reach new heights, and showcase your climbing prowess with achievements that celebrate your progress. Each milestone brings a sense of accomplishment, encouraging you to climb higher and strive for greatness.

                Are you ready to earn your place among the legends?
            </p>
        </div>

    </div>
</div>

<div class="header-text-content">
    <h2>Music</h2>
    <p>
        Experience the atmospheric soundtrack that accompanies each climb. 
        Let the evocative melodies by <span class="highlight">Context Sensitive</span> and <span class="highlight">xDeviruchi</span> immerse
        you in every moment, from the eerie depths of dungeons to the boundless 
        expanse of space. The music enhances the adventure, bringing every level to life 
        and making your climb unforgettable.
    </p>
</div>

<div class="music-container-section">
    <div class="music-container">
        <img src="Images/Castle Climbers/Context Sensitive.png" alt="Example Image" class="music-container-image">
        <div class="music-container-text">
            <h3>Context Sensitive</h3>
            <p> The guy who made that annoying music in Crab Game.</p>
        </div>
    </div>
    <div class="music-container">
        <img src="Images/Castle Climbers/xDeviruchi.png" alt="Example Image" class="music-container-image">
        <div class="music-container-text">
            <h3>xDeviruchi</h3>
            <p>comPOSER.</p>
        </div>
    </div>
</div>

<div class="music-links">
    <div class="music-card">
        <img src="Images/Castle Climbers/Menu_Theme_Cover.png" alt="Music Image 1">
        <h2>Menu Track</h2>
        <p>Title Theme - xDeviruchi</p>
        <a href="https://www.youtube.com/watch?v=5bn3Jmvep1k&t=1s" target="_blank" style="text-decoration: none;">
            <button>
                <img src="Images/Youtube.png" alt="Play Icon">
                Listen Now
            </button>
        </a>
    </div>
    <div class="music-card">
        <img src="Images/Castle Climbers/Dungeon_Theme_Cover.png" alt="Music Image 2">
        <h2>Dungeon Track</h2>
        <p>Over - Context Sensitive</p>
        <a href="https://www.youtube.com/watch?v=lvTTxePR3ac" target="_blank" style="text-decoration: none;">
            <button>
                <img src="Images/Youtube.png" alt="Play Icon">
                Listen Now
            </button>
        </a>
    </div>
    <div class="music-card">
        <img src="Images/Castle Climbers/Castle_Theme_Cover.png" alt="Music Image 3">
        <h2>Castle Track</h2>
        <p>Travel - Context Sensitive</p>
        <a href="https://www.youtube.com/watch?v=b9BBWZqD8TY" target="_blank" style="text-decoration: none;">
            <button>
                <img src="Images/Youtube.png" alt="Play Icon">
                Listen Now
            </button>
        </a>
    </div>
    <div class="music-card">
        <img src="Images/Castle Climbers/Clouds_Theme_Cover.png" alt="Music Image 4">
        <h2>Clouds Track</h2>
        <p>Esuna - Context Sensitive</p>
        <a href="https://www.youtube.com/watch?v=x8lJO3QornU" target="_blank" style="text-decoration: none;">
            <button>
                <img src="Images/Youtube.png" alt="Play Icon">
                Listen Now
            </button>
        </a>
    </div>
    <div class="music-card">
        <img src="Images/Castle Climbers/Music_Cover.png" alt="Music Image 5">
        <h2>Sky Temple Track</h2>
        <p>Ever Forever - Context Sensitive</p>
        <a href="https://www.youtube.com/watch?v=QVMhIJrUQsk" target="_blank" style="text-decoration: none;">
            <button>
                <img src="Images/Youtube.png" alt="Play Icon">
                Listen Now
            </button>
        </a>
    </div>
    <div class="music-card">
        <img src="Images/Castle Climbers/Space_Theme_Cover.png" alt="Music Image 6">
        <h2>Space Track</h2>
        <p>Adrift - Context Sensitive</p>
        <a href="https://www.youtube.com/watch?v=inHWCBXgnWw" target="_blank" style="text-decoration: none;">
            <button>
                <img src="Images/Youtube.png" alt="Play Icon">
                Listen Now
            </button>
        </a>
    </div>
</div>

<div class="header-text-content">
    <h2>Updates</h2>
    <p>
		Keep up with the <span class="highlight">latest updates</span> and improvements coming to <span class="highlight">Castle Climbers</span>.
        Stay tuned for exciting new features, characters, and levels that will take your 
        climbing adventure to the next level. Don’t miss out on fresh challenges and 
        enhancements designed to keep the game fun and engaging!
    </p>
</div>

<div class="update-item">
    <img src="Images/Castle Climbers/3.0 CC.png" alt="Update Image 1" class="update-image">
    <div class="update-text">
        <h2>Castle Climbers 0.3</h2>
    </div>
    <button @onclick="() => ToggleDetails(0)" class="dropdown-arrow">
        @if (isOpen[0])
        {
            @:&#9650; <!-- Up Arrow -->
        }
        else
        {
            @:&#9662; <!-- Down Arrow -->
        }
    </button>

</div>

<div class="update-details">
    @if (isOpen[0])
    {
        <h3>Version 0.3.1</h3>
        <p>Minor bug fixes.</p>

        <h3>Version 0.3.0</h3>
        <p>Version 0.3.0 brings newly designed menu screens to replace the old simple screens and brings more life to the game.</p>
    }
</div>

<div class="update-item">
    <img src="Images/Castle Climbers/2.0 CC.png" alt="Update Image 1" class="update-image">
    <div class="update-text">
        <h2>Castle Climbers 0.3</h2>
    </div>
    <button @onclick="() => ToggleDetails(1)" class="dropdown-arrow">
        @if (isOpen[1])
        {
            @:&#9650; <!-- Up Arrow -->
        }
        else
        {
            @:&#9662; <!-- Down Arrow -->
        }
    </button>

</div>

<div class="update-details">
    @if (isOpen[1])
    {
        <h3>Version 0.2.1</h3>
        <p>New Halloween characters can be found in the shop, along with minor bug fixes.</p>

        <h3>Version 0.2.0</h3>
        <p>
            Castle Climbers 0.2.0 is here, and there’s a lot of new features, including the new accounts system, allowing you to play
            from any device, as well as the leaderboard system, allowing you to challenge your friends and fight for that number
            1 spot. There have also been minor bug fixes and assistance with controls.
        </p>
    }
</div>

<div class="update-item">
    <img src="Images/Castle Climbers/1.0 CC.png" alt="Update Image 1" class="update-image">
    <div class="update-text">
        <h2>Castle Climbers 0.3</h2>
    </div>
    <button @onclick="() => ToggleDetails(2)" class="dropdown-arrow">
        @if (isOpen[2])
        {
            @:&#9650; <!-- Up Arrow -->
        }
        else
        {
            @:&#9662; <!-- Down Arrow -->
        }
    </button>

</div>

<div class="update-details">
    @if (isOpen[2])
    {
        <h3>Version 0.1.1</h3>
        <p>Initial release of the app to app stores.</p>
    }
</div>

<footer class="footer-section">
    <div class="footer-content">
        <h2>Kenyon Dev Labs</h2>
        <div class="footer-links">
            <a href="../CastleClimbers/PrivacyPolicy">Privacy Policy</a>
        </div>
        <div class="footer-links">
            <a href="mailto:info@kenyondevlabs.com">kenyondevlabs@gmail.com</a> |
            <a href="https://instagram.com/kenyondevlabs" target="_blank">Kenyon Dev Labs Instagram</a> |
            <a href="https://instagram.com/kenyondevlabs" target="_blank">Kenyon Game Labs Instagram</a>
        </div>
        <p class="copyright">&copy; 2025 Kenyon Dev Labs. All Rights Reserved.</p>
    </div>
</footer>

@code {

    private bool[] isOpenCharacter = new bool[5]; // Tracks the state of each character section

    private void ToggleCharacterDetails(int index)
    {
        isOpenCharacter[index] = !isOpenCharacter[index];
    }

    private bool[] isOpen = new bool[3]; // Tracks the state of each update section

    private void ToggleDetails(int index)
    {
        isOpen[index] = !isOpen[index];
    }


}
