@page "/"

<PageTitle>Home</PageTitle>

<div>
    <img class="full-width-image" src="../Images/Labs Illustration.png" alt="Full width description" />
</div>

<!-- Text and Image Section -->
<div class="text-image-section">
    <div class="text-content">
        <h2>Your Title Here</h2>
        <p>
            This is where your descriptive text goes. You can add more content
            about your image or any topic here to explain further.
        </p>
    </div>
    <div class="image-content">
        <img src="../Images/Labs Illustration.png" alt="Description of image" />
    </div>
</div>

<!-- Two-Column Section with Rows and Images -->
<div class="two-column-section">
    <div class="panel">
        <div class="row">
            <h2><img src="../Images/CC Icon.png" alt="Icon 1">Castle Climbers</h2>
            <p>Here Here Here Here Here Here Here Here Here</p>
            <img src="../Images/Castle Climbers Cover.png" alt="Row 1 Panel 1 image" />
            <a href="../CastleClimbers" class="row-button">Castle Climbers Page</a>

        </div>
        
    </div>
    <div class="panel">
        <div class="row">
            <h2><img src="../Images/Bucket Connect App Icon.png" alt="Icon 4">Bucket Connect</h2>
            <p>Here</p>
            <img src="../Images/Bucket Connect Cover.png" alt="Row 1 Panel 2 image" />
            <a href="../BucketConnect" class="row-button">Castle Climbers Page</a>
        </div>
        
    </div>
</div>
