html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111111;
}

/* Titles and Text Styling */

p {
    margin: 1rem 0rem;
    padding: 0rem;
    color: white; /* Text color */
    line-height: 1.6; /* Comfortable line spacing */
    font-size: 1.2rem; /* Slightly larger text */
    font-family: 'Poppins', sans-serif; /* Consistent font style */
}


h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ff0000;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.1em;
    line-height: 1.2;
    background: linear-gradient(90deg, #ff0000, #ff7f50);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

h2 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: darkorange;
    display: flex;
    align-items: center;
}

    h2 img {
        max-width: 50px;
        max-height: 50px;
        margin-right: 1.5rem;
        border-radius: 50%;
        margin-bottom: 5px;
    }

h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: darkorange;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    color: white;
}